body {
    background-color: black;
    color: white;
    font-family: Consolas;
}

@media only screen and (max-width: 1080px) {
    body {
        font-size: 48px;
    }
}

div.container {
    display: inline-block;
    position: absolute;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}


div.oneConversationData {
    display: table;
    position: relative;
    left: 0;
    width: 98%;
    height: auto;
    padding: 0px;
    margin-bottom: 20px;
}

div.nameCell {
    display: table-cell;
    width:35mm; 
    max-width:35mm;
    min-width:35mm; 
    right: 0;
    color: white;
    vertical-align: middle;
}

@media only screen and (max-width: 1080px) {
    div.nameCell {
        width:50mm; 
        max-width:50mm;
        min-width:50mm; 
    }
}


div.dataCellWrapper {
    display: table-cell;
    left: 0;
    max-width: 100%;
    min-width: 0px;
}

div.dataCell {
    display: inline-block;
    left: 0;
    color: white;
    border-radius: 15px;
    padding: 10px;
    min-width: 0px;
}

div.imgCell {
    display: inline-block;
    left: 0;
    border-radius: 15px;
    padding: 10px;
    min-width: 0px;
    max-width: 50%;
}

img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    width: auto;
    vertical-align: middle;
}


@media only screen and (max-width: 1080px) {
    div.dataCell {
        border-radius: 30px;
        padding: 20px;
    }
    div.imgCell {
        border-radius: 30px;
        max-width: 80%;
        padding: 20px;
    }
    img {
        max-height: 800px;
    }
}

/*div.from {
display: inline-block;
position: relative;
right: 0;
max-width: 300px;
background-color: blue;
color: white;
border-radius: 15px;
padding: 10px;
}

div.to {
display: inline-block;
position: relative;
left: 0;
max-width: 300px;
background-color: white;
color: black;
border-radius: 15px;
padding: 10px;
}*/